---
import { Image } from "astro:assets";
import grupoObreros from "../assets/grupobreros.webp";
import seguridad from "../assets/seguridad.webp";
import cuidado from "../assets/cuidado.webp";
import responsabilidad from "../assets/responsabilidad-social.webp";
import investigacion from "../assets/investigacion.webp"; 
---

<section class="about">
    <div class="about-header">
        <span class="about-title about-title-small">CONOCE A</span>
        <span class="about-title about-title-large"
            >JAIL CONSTRUCTORA S.A.C</span
        >
        <p class="about-description">
            Expertos en construir soluciones que perduran. Calidad, seguridad y
            compromiso en cada proyecto.
        </p>
    </div>

    <article class="about-content">
        <div class="about-summary-container">
            <div class="about-image-container">
                <Image src={grupoObreros} alt="" class="about-image" />
            </div>
            <div class="about-summary">
                <span class="about-summary-title">Quienes Somos</span>
                <p class="about-summary-text">
                    JAIL CONSTRUCTORA S.A.C. es una empresa peruana dedicada a
                    la construcción de obras civiles, especializada en sistemas
                    de agua potable y saneamiento. Con un equipo de
                    profesionales altamente capacitados, nos comprometemos a
                    entregar proyectos de calidad, cumpliendo con los más altos
                    estándares de seguridad y eficiencia. Nuestra misión es
                    contribuir al desarrollo sostenible del Perú, transformando
                    comunidades a través de infraestructuras que mejoran la
                    calidad de vida de las personas.
                </p>
            </div>
        </div>
    </article>
    <article class="about-mision-vision">
        <div class="mision-container">
            <h2 class="about-mision-title">Misión</h2>
            <p class="about-mision-text">
                Somos un equipo comprometido en ser la mejor opción en obras
                civiles (edificación, vial, saneamiento y agua potable),
                brindando servicios que mejoren la calidad de vida de las
                comunidades. Buscamos combinar eficacia empresarial con
                principios sociales, respetando los valores éticos, las
                personas, las comunidades y el medio ambiente.
            </p>
        </div>
        <div class="vision-container">
            <h2 class="about-vision-title">Visión</h2>
            <p class="about-vision-text">
                Ser reconocidos como líderes en el sector de la construcción en
                Perú, destacando por nuestra calidad, innovación y compromiso
                con el desarrollo sostenible.
            </p>
        </div>
    </article>
    <article class="about-politicas-container">
        <div class="about-politicas-header">
            <span>Políticas de Calidad</span>
        </div>
        <div class="img-politicas">
            <article class="politicas seguridad">
                <Image
                    src={seguridad}
                    alt=""
                    class="politicas-imagen"
                    width={500}
                />

                <span>SEGURIDAD Y PREVENCIÓN DE RIESGOS</span>
            </article>
            <article class="politicas cuidado">
                <Image
                    src={cuidado}
                    alt=""
                    class="politicas-imagen"
                    width={500}
                />
                <span>CUIDADO Y RESPETO DEL MEDIO AMBIENTE</span>
            </article>
            <article class="politicas responsabilidad">
                <Image
                    src={responsabilidad}
                    alt=""
                    class="politicas-imagen"
                    width={500}
                />

                <span>RESPONSABILIDAD SOCIAL</span>
            </article>
            <article class="politicas investigacion">
                <Image
                    src={investigacion}
                    alt=""
                    class="politicas-imagen"
                    width={500}
                />
                <span>INVESTIGACIÓN, INNOVACIÓN Y CAPACITACIÓN CONSTANTE</span>
            </article>
        </div>
    </article>
</section>

<style>
    * {
        box-sizing: border-box;
    }
    .about-header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height: 50vh;
        padding: 0 60px;
        color: #fff;
        background-image: url("../assets/topografo.webp");
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    .about-header::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    .about-title {
        margin: 0;
    }
    .about-title-small {
        margin: 0;
        font-size: 50px;
    }
    .about-title-large {
        font-weight: bold;
        font-size: 80px;
    }
    .about-description {
        font-size: 20px;
    }

    .about-content {
        display: flex;
        height: 50vh;
        padding: 30px 0px;
    }
    .about-summary-container {
        display: flex;
        padding: 0 60px;
        gap: 40px;
    }
    .about-summary-title {
        font-size: 50px;
        font-weight: bold;
        color: #003366;
    }
    .about-summary {
        display: flex;
        flex-direction: column;
        font-family: "Noto Sans", sans-serif;
    }
    .about-image {
        width: 500px;
        height: 100%;
        object-fit: cover;
        border-radius: 0 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .about-mision-vision {
        display: flex;
        justify-content: center;
        padding: 30px 60px;
        gap: 20px;
        background-color: rgb(27, 78, 136);
        font-family: "Noto Sans", sans-serif;
    }
    .mision-container,
    .vision-container {
        width: 300px;
        border: 3px solid #fff;
        padding: 10px;
    }
    .about-politicas-container {
        padding: 30px 60px;
    }

    .about-politicas-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .about-politicas-header::before,
    .about-politicas-header::after {
        content: "";
        flex: 1;
        border-bottom: 2px solid #0099ff; /* Cambia el color si deseas */
        margin: 0 1rem;
    }

    .about-politicas-header span {
        font-weight: bold;
        font-size: 3rem;
        color: #003366; /* Color del texto */
        white-space: nowrap;
    }
    .img-politicas {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .politicas {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        transform: scale(1);
    }
    .politicas:hover {
        transform: translateY(-10px);
        box-shadow:
            0px 10px 10px rgba(0, 0, 0, 0.25),
            0px 5px 10px rgb(96, 178, 255);
        transition: transform 0.3s ease;
        }

    .politicas-imagen {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: brightness(0.8); /* Ajusta el brillo de la imagen */
    }
    
    .politicas span {
        position: relative;
        z-index: 2;
        padding: 20px;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        transition: all 0.4s ease;
    }
    .politicas:hover span {
        font-size: 1.6rem; 
        transition: all 0.4s ease;
    }
</style>
