---
import Carrusel3D from "./Carrusel3d.astro";

import { Image } from "astro:assets";
import obraEdificacion from "../assets/obraedificacion.webp";
import obracarretera from "../assets/obracarretera.webp";
import obraalcantarillado from "../assets/obraalcantarillado.webp";
import ensayoslaboratorio from "../assets/ensayoslaboratorio.webp";
import equiposPesados from "../assets/equipospesados.webp";

---

<section class="servicio-section">
    <div class="servicio-header">
        <h2 class="servicio-title">Nuestros Servicios</h2>
        <p class="servicio-description-t">
            En JAIL CONSTRUCTORA S.A.C, ofrecemos una amplia gama de servicios
            para satisfacer las necesidades de nuestros clientes. Nos
            especializamos en la construcción de obras de infraestructura, así
            como en el mantenimiento y reparación de equipos pesados. Nuestro
            equipo de profesionales altamente capacitados está comprometido en
            brindar soluciones integrales y de calidad en cada uno de nuestros
            proyectos.
        </p>
    </div>
    <section class="servicio-content">
        <article class="servicio-container-contratistas">
            <div class="contratista-container">
                <div class="contratista-btn-title">
                    <p>Contratista</p>
                </div>
                <h2 class="servicio-contratista-title">
                    Contratistas de Obras Civiles
                </h2>
                <p class="servicio-description">
                    En <strong>JAIL CONSTRUCTORA S.A.C</strong>, contamos con un
                    equipo de contratistas altamente calificados en cada área de
                    ejecución, garantizando precisión técnica, cumplimiento de
                    normativas y estándares de calidad en todos nuestros
                    proyectos. Nuestros profesionales trabajan bajo un modelo
                    integrado que combina experiencia en campo con innovación
                    tecnológica.
                </p>
            </div>

            <section class="servicio-obras-edificacion">
                <article class="servicio-container">
                    <div class="servicio-img">
                        <Image
                            src={obraEdificacion}
                            alt="Obras de edificación"
                            class="servicio-image"
                            width={1000}
                            height={500}
                        />
                    </div>
                    <div>
                        <h2 class="servicio-title">Obras de Edificación</h2>
                        <ul class="servicio-detalles">
                            <li>Arquitectura</li>
                            <li>Proveedor de Materiales</li>
                            <li>Carpintero</li>
                            <li>Gasfitería</li>
                            <li>Electricistas</li>
                            <li>Técnico de Impermeabilización</li>
                            <li>Delineante (CAD)</li>
                            <li>Ingeniero Civil</li>
                            <li>Diseñador y decoración de Interiores</li>
                            <li>Topografía</li>
                        </ul>
                    </div>
                </article>
            </section>

            <section class="servicio-obras-carretera">
                <article class="servicio-container">
                    <div>
                        <h2 class="servicio-title" >Obras de carretera</h2>
                        <ul class="servicio-detalles">
                            <li>Levantamiento Topográfico</li>
                            <li>Seguridad Ocupacional</li>
                            <li>Área Ambiental</li>
                            <li>Mecánica de Suelos</li>
                            <li>Enfermería</li>
                        </ul>
                    </div>
                    <div class="servicio-img">
                        <Image
                            src={obracarretera}
                            alt="Electricista"
                            class="servicio-image"
                            width={1000}
                            height={500}
                        />
                    </div>
                </article>
            </section>

            <section class="servicio-obras-agua-alcantarillado">
                <article class="servicio-container">
                    <div class="servicio-img">
                        <Image
                            src={obraalcantarillado}
                            alt="Electricista"
                            class="servicio-image"
                            width={1000}
                            height={500}
                        />
                    </div>
                    <div>
                        <h2 class="servicio-title">Obras de agua potable y alcantarillado</h2>
                        <ul class="servicio-detalles">
                            <li>Levantamiento topográfico</li>
                            <li>Seguridad Ocupacional</li>
                            <li>Área Ambiental</li>
                            <li>Mecánica de Suelos</li>
                            <li>Enfermería</li>
                            <li>Ingeniero Civil</li>
                            <li>Planta de Tratamiento de Aguas Residuales</li>
                            <li>Planta de Tratamiento de Agua Potable</li>
                        </ul>
                    </div>
                </article>
            </section>

            <section class="servicio-ensayo-laboratorio">
                <article class="servicio-container">
                    <div>
                        <h2 class="servicio-title">Ensayos de Laboratorio</h2>
                        <ul class="servicio-detalles">
                            <li>Ensayos Especiales (ASTM)</li>
                            <li>Ensayos de Agregados (ASTM/MTC/NTP)</li>
                            <li>Ensayos de Suelos (ASTM/MTC)</li>
                            <li>Ensayos de Campo en Suelos</li>
                            <li>
                                Ensayos de Concreto Fresco y Endurecido
                                (ASTM/MTC)
                            </li>
                            <li>Ensayos Químicos (ASTM/MTC/NTP)</li>
                        </ul>
                    </div>
                    <div class="servicio-img">
                        <Image
                            src={ensayoslaboratorio}
                            alt="Electricista"
                            class="servicio-image"
                            width={1000}
                            height={500}
                        />
                    </div>
                </article>
            </section>

            <section class="servicio-soluciones-integrales">
                <article class="servicio-container">
                    <div class="servicio-img">
                        <Image
                            src={equiposPesados}
                            alt="Electricista"
                            class="servicio-image"
                            width={1000}
                            height={500}
                        />
                    </div>
                    <div>
                        <h2 class="servicio-title">
                            Soluciones integrales de equipos pesados
                        </h2>
                        <ul class="servicio-detalles">
                            <li>Mantenimiento Preventivo y Correctivo</li>
                            <li>Fabricación y Mecanizado de Piezas</li>
                            <li>Movimientos de Tierra</li>
                            <li>Metalmecánica</li>
                            <li>Alquiler de Maquinaria Pesada y Vehículos</li>
                        </ul>
                    </div>
                </article>
            </section>
        </article>
        <div class="">
            <div class="">
                <Carrusel3D />
            </div>
        </div>
    </section>
</section>
<style>
    .servicio-header {
        position: relative;
        background-image: url("../assets/banner-servicios.webp");
        background-size: cover;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 60px;
        box-sizing: border-box;
        color: white;
        z-index: 0;
        gap: 20px;
    }
    .servicio-header::before {
        content: "";
        position: absolute;
        inset: 0; /* top: 0; left: 0; right: 0; bottom: 0 */
        background: rgba(0, 0, 0, 0.5); /* Opacidad del overlay */
        z-index: -1;
    }

    .servicio-title {
        margin: 0;
        font-size: 60px;
        text-shadow: 1px 1px 2px #000;
    }
    .servicio-description-t {
        margin: 0;
        font-size: 20px;
    }
    .servicio-description {
        margin: 0;
        font-family: "Noto Sans", sans-serif;
    }

    .servicio-contratista-title {
        margin: 0 0 20px 0;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .servicio-container-contratistas {
        display: flex;
        flex-direction: column;
    }
    .contratista-btn-title {
        display: flex;
        justify-content: center;
    }
    .contratista-btn-title p {
        font-size: 30px;
        font-weight: bold;
        background-color: rgb(33, 47, 77);
        padding: 10px;
        border-radius: 20px 0px;
        color: white;
    }
    .contratista-container {
        height: 40vh;
        padding: 0 60px;
    }

    .servicio-obras-edificacion {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .servicio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px 60px;
        gap: 30px;
    }
    .servicio-image {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .servicio-detalles {
        font-size: 1.8rem;
    }

    /**OBRAS DE CARRETERAS */
    /**OBRAS DE AGUA POTABLE Y ALCANTARILLADO */
    /**LABORATORIO DE ENSAYOS */
    /**SOLUCIONES INTEGRALES PARA EQUIPOS PESADOS */
</style>
